@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@1,800&display=swap');

:root {
    --main-margin: 14px;
    --main-color: #fff;
    --border: 1px solid #000;
    --slider-triangle-size: 48px;
    --slider-triangle-color: #fff;
    --triangle-size: 18px;
    --max-width: 1280px;
}
body{
    font-family: sans-serif;
}
#contents.loading {
	display: none;
}
.wrapper {
    padding: 0 14px;
    box-sizing: border-box;
    max-width: var(--max-width);
    margin: 0 auto;
}

.list-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(36px, 1fr));
    grid-gap: var(--main-margin);
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.list-wrapper.brand {
    grid-template-columns: repeat(2, 1fr);
}

.list-item:hover,
.list-item:active {
    opacity: 0.7;
    cursor: pointer;
}

.list-item {
    position: relative;
    width: 100%;
}

.list-item h1 {
    margin-top: 0.5em;
    font-weight: bold;
    color: #000;
    text-align: left;
}

.list-item p {
    margin-top: 0.5em;
    font-size: 9px;
    color: #000;
}

.list-img img{
    width: 100%;
}
.brand .list-img{
    padding-bottom: 100%;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}
.brand .list-img img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    object-fit: cover;
}

.border .list-img {
/*    border: var(--border);*/
}

.triangle .list-img::after {
    content: '';
    transition: 1s all ease;
    width: var(--triangle-size);
    height: var(--triangle-size);
    transform: rotate(45deg);
    z-index: 150;
    position: absolute;
    background: var(--main-color);
    bottom: calc(var(--triangle-size)/-2);
    right: calc(var(--triangle-size)/-2);
}

.swiper-container {
    position: relative;
    width: 100%;
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
}

.swiper-container img {
    width: 100%;
}

.swiper-container::before,
.swiper-container::after {
    content: '';
    width: var(--slider-triangle-size);
    height: var(--slider-triangle-size);
    transform: translate3d(0, 0, 0) rotate(45deg);
    z-index: 500;
    position: absolute;
    background: var(--slider-triangle-color);
}

.swiper-container::before {
    top: calc(var(--slider-triangle-size)/-2);
    left: calc(var(--slider-triangle-size)/-2);
}

.swiper-container::after {
    bottom: calc(var(--slider-triangle-size)/-2);
    right: calc(var(--slider-triangle-size)/-2);
}

.more {
    margin-top: var(--main-margin);
    text-align: center;
    font-size: 18px;
    padding-bottom: 0.3em;
    border: var(--border);
}

.payment {
    margin-top: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.payment ul {
    display: flex;
    align-items: center;
}

.payment li + li {
    margin-left: 4px;

}

#header {
    padding-top: 14px;
    padding-bottom: 14px;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    font-size: 24px;
    background: #fff;
}

#header .wrapper {
    display: flex;
    justify-content: space-between;
}

#gnb_footer {
    background: #fff;
    z-index: 999;
    color: #000;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 24px;
    padding-top: 14px;
    padding-bottom: 14px;
}

#gnb_footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#gnb_footer a {
    color: inherit;
}

#gnb_search {
    cursor: pointer;
    font-size: 0.8em;
}

#search,
#categories,
#categories_brand,
#map,
#local_brand,
#ranking,
#sns,
#board_list,
#footer {
    margin-top: var(--main-margin);
}

#search {
    position: relative;
    width: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    border-radius: 2em;
    overflow: hidden;
    line-height: 2em;
    font-size: 14px;
}

#search input[type="text"] {
    outline: none;
    width: 100%;
    box-sizing: border-box;
    padding-left: 30px;
    border: none;
    line-height: inherit;
    font-size: inherit;
}

#search i {
    position: absolute;
    left: 10px;
    top: 0;
    line-height: inherit;
}

#map ul {
    display: flex;
    justify-content: space-around;
}

#map li {
    font-size: 14px;
    cursor: pointer;
}

#map svg {
    margin-top: var(--main-margin);
    max-width: 960px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
#location{
    margin-top: 2em;
    margin-bottom: 4em;
}
#location span{
    display: inline-block;
    padding: 5px 10px 3px;
}
#location .on span{
    background: #000;
    color: #fff;
}
#location .on .on{
    border-bottom: 1px solid #000;
}
#location .on ul{
    display: flex;
    flex-wrap: nowrap;
}

#location>ul{
    position: relative;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 0.5em;
}
#location>ul ul{
    position: absolute;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 1em;
    width: 100%;
    bottom: -3em;
    left: 0;
    overflow-x: scroll;
    display: none;
    width: 100%;
}
#location>ul ul li{
    word-break: keep-all;
}
#location>ul ul li{
    margin-left: 15px;
}

#daegu path {
    fill: #fff;
    stroke: #000;
    cursor: pointer;
}

#daegu path:hover {
    fill: #000;
}

#daegu path.on {
    fill: #000;
}

#sns {
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
}

#sns a {
    text-decoration: inherit;
    color: inherit;
}

#sns img {
    width: 100%;
}

#sns_top {
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    text-align: center;
}

#sns_top h1 {
    color: #262626;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #dbdbdb;
    padding-top: 12px;
    padding-bottom: 12px;
}

#sns_top h2 {
    font-weight: 600;
    font-size: 16px;
}

#sns_top p {
    font-size: 14px;
    color: #8e8e8e;
    margin-top: 0.2em;
}

#sns_profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
}

#sns_profile ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#sns_profile_img {
    border-radius: 50%;
    width: 77px;
    height: 77px;
    overflow: hidden;
    flex-shrink: 0;
}

#sns_img {
    padding-top: 3px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3px;
}

#sns_img li {
    overflow: hidden;
    position: relative;
}

#sns_img li::after {
    content: '';
    width: var(--triangle-size);
    height: var(--triangle-size);
    transform: rotate(45deg);
    z-index: 150;
    position: absolute;
    background: #fff;
    bottom: calc(var(--triangle-size)/-2);
    right: calc(var(--triangle-size)/-2);
}

#sns_img img {
    width: 100%;
}

#board_list {
    font-size: 18px;
    margin-top: 2em;
}

#board_list li {
    display: flex;
    justify-content: space-between;
    border-top: var(--border);
    border-bottom: var(--border);
    line-height: 2em;
    font-weight: 900;
}

#board_list li + li {
    border-top: none;
}

#board_list li::after {
    content: '\f0da';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

#board_list a {
    display: block;
    text-decoration: inherit;
    color: inherit;
}

#footer {
    margin-top: 2em;
    background: #000;
    color: #fff;
    min-height: calc(100vh - 480px);
    box-sizing: border-box;
    padding: 1em 0;
}

#footer a {
    color: inherit;
}

.contact {
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    font-size: 12px;
    line-height: 1.5em;
}

.contact + .contact {
    margin-top: 3em;
}

.contact div {
    flex-grow: 1;
    width: calc(100%/3);
    word-break: keep-all;
}

.contact div + div {
    padding-left: 1em;
}

.transition {
    transition: 2s all ease;
}

.fp-section:first-child + .fp-section {
    opacity: 1;
}

.fp-section + .fp-section {
    opacity: 0;
}

.section.active {
    opacity: 1;
}
.title .logo{
    font-size: 48px;
    margin-top: 48px;
    margin-bottom: 30px;
}

.slide-info{
    position: absolute;
    width: 45%;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}
.slide-info.right {
	left: auto;
    right: 10%;
}
.slide-info h1{
    font-size: 24px;
    font-weight: 900;
}
.slide-info p{
    font-size: 14px;
    margin-top: 1em;
}

@media screen and (min-width: 769px) {
   .list-wrapper.brand {
    grid-template-columns: repeat(4, 1fr);
}
}