body{
    margin: 0;
}
.logo{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}
.logo svg{
    width: auto;
    margin-top: 0.1em;
    height: 0.8em;
}
.logo .letters{
    fill:none;
}
.logo-g{
    stroke: #484848;
    stroke-width: 20;
}
.logo-o {
	stroke: #484848;
    stroke-width: 15;
}
.logo-d{
    stroke: #484848;
    stroke-width: 14;
}
.logo-p{
    stroke: #3e9bd6;
    stroke-width: 14;
    transition: stroke 1s ease;
}

.logo-letter{
    font-family: "Sarabun" ,sans-serif;
    color: #3e9bd6;
    font-weight: 800;
    font-style: italic;
    overflow: hidden;
    transition: color 1s ease;
}
